@charset "UTF-8";
:root[data-theme="color-a"] {
    --color-main: orange;
    --color-sub: gold;
    --color-text: #ffffff;
}

:root[data-theme="color-b"] {
    --color-main:  rgb(67, 207, 151);
    --color-sub: rgb(218, 249, 218);
    --color-text: #ffffff;
}

:root[data-theme="color-c"] {
    --color-main: rgb(61, 61, 200);
    --color-sub: rgb(166, 166, 232);
    --color-text: #fff;
}

body {
    background-color: var(--color-main);
    color: var(--color-text);
}

p {
    background-color: var(--color-sub);
}

/*ボタンの装飾*/
button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #fff;
}

#btn-a {
    background-color: orange;
    color: #000;
}

#btn-b {
    background-color: rgb(0, 128, 107);
    color: #000;
}

#btn-c {
    background-color: rgb(49, 49, 162);
    color: #fff;
}
